* {
  box-sizing: border-box;
}
@font-face {
  font-family: "icons";
  src: url('fonts/jamfont.woff') format('truetype');
}
@font-face {
  font-family: "uni-bold";
  src: url('fonts/uni-sans-bold-webfont.woff') format('truetype');
}
@font-face {
  font-family: "uni-semi-bold";
  src: url('fonts/uni-sans-semi-bold-webfont.woff') format('truetype');
}
html {
  margin: 0;
  padding: 0;
  border: none;
  background: #E1E8EC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Verdana;
}
html body .header {
  height: 100px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: #fff;
  border-bottom: solid 1px #cfcfcf;
}
html body .wrapper {
  position: relative;
  margin: 100px 100px 0 100px;
  padding: 20px 0 0 0;
  z-index: 2;
}
html body .wrapper:before {
  content: '';
  background: #fff;
  position: relative;
}
@media (max-width: 992px) {
  html body .header {
    height: 50px;
  }
  html body .wrapper {
    margin-top: 50px;
  }
  html body .menu .menu-nav .menu-item {
    display: none;
  }
  html body .menu .menu-nav .menu-icon {
    top: -30px;
    left: -80px;
  }
}
@media (min-width: 992px) {
  html body .header {
    height: 100px;
  }
}
.menu {
  color: #252425;
  font-family: "uni-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  float: left;
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100%;
  background: #fff;
  min-height: 600px;
}
.menu .social {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 240px;
  left: 0px;
}
.menu .social .icons {
  margin: 20px 40px;
  border-bottom: solid 1px #eaeaea;
  padding: 0 0 20px 0;
  text-align: left;
}
.menu .social .address .row {
  float: left;
  margin: 3px 40px;
}
.menu .social .address .row .text {
  float: left;
  font-size: 10px;
  color: #a4a4a4;
  font-family: Verdana;
}
.menu .social .address .row .icon-small {
  display: inline-block;
  width: 16px;
  height: 10px;
  font-family: icons;
  font-size: 30px;
  float: left;
  margin: 0 15px 0 0px;
  top: -9px;
  position: relative;
}
.menu .social .address .row .icon-small.place:before {
  content: "\e60d";
}
.menu .social .address .row .icon-small.phone:before {
  content: "\e628";
}
.menu .social .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-decoration: none;
  font-family: icons;
  background: #000;
  border-radius: 3px;
}
.menu .social .icon:hover {
  text-decoration: none;
}
.menu .social .icon:before {
  font-size: 30px;
  text-align: center;
  position: relative;
  left: -1px;
}
.menu .social .icon.facebook:before {
  content: "\e61d";
}
.menu .social .icon.twitter:before {
  content: "\e61f";
}
.menu .social .icon.gplus:before {
  content: "\e632";
}
.menu .social .icon.mail:before {
  content: "\e630";
}
.menu .menu-wrapper {
  border: none;
  list-style: none;
  text-align: left;
  padding: 90px 40px 0 40px;
  width: 240px;
  margin: 0;
  position: relative;
}
.menu .menu-wrapper.visible {
  left: 0;
}
.menu .menu-wrapper.hidden {
  left: -240px;
}
.menu .menu-wrapper li {
  display: inline-block;
  width: 100%;
}
.menu .menu-wrapper li:hover a {
  color: #000;
}
.menu .menu-wrapper li:last-child a {
  border: none;
}
.menu .menu-wrapper li a {
  display: inline-block;
  padding: 14px 0;
  color: grey;
  text-decoration: none;
  border-bottom: solid 1px #eaeaea;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
}
.menu .menu-wrapper li a.active {
  color: #000;
}
.menu .menu-wrapper li a:hover {
  text-decoration: none;
}
.menu .menu-wrapper li a.active {
  color: #000;
}
.menu .menu-wrapper li a:before {
  font-family: "icons";
  padding: 0 10px 0 0;
  font-size: 20px;
  position: relative;
  top: 3px;
  font-weight: normal;
}
.menu .menu-wrapper li a.home:before {
  content: "\e625";
}
.menu .menu-wrapper li a.work:before {
  content: "\e601";
}
.menu .menu-wrapper li a.about:before {
  content: "\e604";
}
.menu .menu-wrapper li a.processes:before {
  content: "\e614";
}
.menu .menu-wrapper li a.news:before {
  content: "\e609";
}
.menu .menu-wrapper li a.achievements:before {
  content: "\e60e";
}
.menu .menu-wrapper li a.contacts:before {
  content: "\e613";
}
.menu .menu-nav {
  cursor: pointer;
  text-align: right;
  position: absolute;
  right: -210px;
  top: 50px;
  z-index: 2;
}
.menu .menu-nav.active {
  color: grey;
}
.menu .menu-nav.active .line {
  background-color: grey;
  transform-origin: 50% 50%;
  width: 14px;
}
.menu .menu-nav.active .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.menu .menu-nav.active .line:nth-child(2) {
  opacity: 0;
}
.menu .menu-nav.active .line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.menu .menu-nav .menu-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 82px;
}
.menu .menu-nav .menu-item:before {
  content: "|";
  margin: 0px 17px;
}
.menu .menu-nav .menu-icon {
  width: 24px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.menu .menu-nav .menu-icon .line {
  transition: all 0.5s ease-in-out;
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  opacity: 100;
  position: absolute;
}
.menu .menu-nav .menu-icon .line:nth-child(1) {
  top: 0px;
}
.menu .menu-nav .menu-icon .line:nth-child(2) {
  top: 5px;
}
.menu .menu-nav .menu-icon .line:nth-child(3) {
  top: 10px;
}
