* {
  box-sizing: border-box;
}

@font-face {
  font-family: "icons";
  src: url('fonts/jamfont.woff') format('truetype');
}

@font-face {
  font-family: "uni-bold";
  src: url('fonts/uni-sans-bold-webfont.woff') format('truetype');
}

@font-face {
  font-family: "uni-semi-bold";
  src: url('fonts/uni-sans-semi-bold-webfont.woff') format('truetype');
}

html{
  margin: 0;
  padding: 0;
  border: none;
  background: #E1E8EC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Verdana;
    .header{
      height: 100px;
      top: 0;
      position: fixed;
      width: 100%;
      z-index: 3;
      background: #fff;
      border-bottom: solid 1px #cfcfcf;
    }

    .wrapper-overlay{
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      margin: 0 0 0 260px;
      z-index: 10;
      display: none;
    }

    .wrapper{
      position: relative;
      margin: 100px 100px 0 100px;
      padding: 20px 0 0 0;
      z-index: 2;
      &:before{
        content: '';
        background: #fff;
        position: relative;
      }
    }

    @media (max-width: 992px){
      .header{
        height: 50px;
      }
      .wrapper{
        margin-top: 50px;
      }
      .menu{
        background: #f7f7f7;
        border-right: solid 1px #cfcfcf;
        .menu-wrapper{
          padding: 0 20px;
          li{
            a{
              padding: 11px 0px;
            }
          }
        }
        .menu-nav{
          top: 0px;
          right: -140px;
          &.active{
            -webkit-transform: matrix(1, 0, 0, 1, -60, 0);
            -moz-transform: matrix(1, 0, 0, 1, -60, 0);
            -ms-transform: matrix(1, 0, 0, 1, -60, 0);
            -o-transform: matrix(1, 0, 0, 1, -60, 0);
            transform: matrix(1, 0, 0, 1, -60, 0);

            -webkit-transition: -webkit-transform .3s linear;
            -moz-transition: -moz-transform .3s linear;
            -o-transition: -o-transform .3s linear;
            transition: transform .3s linear;
          }
          .menu-item{
            display: none;
          }
          .menu-icon{
            top: -30px;
            left: -80px;
          }
        }
      }
    }

    @media (min-width: 992px){
      .header{
        height: 100px;
      }
    }
  }
}

.menu{
  color: #252425;
  font-family: "uni-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  float: left;
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100%;
  background: #fff;
  min-height: 600px;
  .social{
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 240px;
    left: 0px;
    .icons{
      margin: 20px 40px;
      border-bottom: solid 1px #eaeaea;
      padding: 0 0 20px 0;
      text-align: left;
    }
    .address{
      .row{
        float: left;
        margin: 3px 40px;
        .text{
          float: left;
          font-size: 10px;
          color: #a4a4a4;
          font-family: Verdana;
        }
        .icon-small{
          display: inline-block;
          width: 16px;
          height: 10px;
          font-family: icons;
          font-size: 30px;
          float: left;
          margin: 0 15px 0 0px;
          top: -9px;
          position: relative;
          &.place:before{
            content: "\e60d";
          }
          &.phone:before{
            content: "\e628";
          }
        }
      }
    }
    .icon{
      display: inline-block;
      width: 30px;
      height: 30px;
      color: #fff;
      text-decoration: none;
      font-family: icons;
      background: #000;
      border-radius: 3px;
      position: relative;
      &:hover{
        text-decoration: none;
        &:before{
          width: 30px;
          left: 0;
          right: auto;
        }
      }
      &:before{
        border-radius: 2px;
        content: '';
        background-color: #808080;
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        height: 30px;
        width: 0px;
        -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
        -moz-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
        -o-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
        transition: width 0.3s cubic-bezier(1, 0, 0, 1);
      }
      &:after{
        font-size: 30px;
        text-align: center;
        position: relative;
        left: -1px;
      }
      &.facebook:after{
          content: "\e61d";
      }
      &.twitter:after{
          content: "\e61f";
      }
      &.gplus:after{
          content: "\e632";
      }
      &.mail:after{
          content: "\e630";
      }
    }
  }
  .menu-wrapper{
    border: none;
    list-style: none;
    text-align: left;
    padding: 90px 40px 0 40px;
    width: 240px;
    margin: 0;
    position: relative;
    &.visible{
      left: 0;
    }
    &.hidden{
      left: -240px;
    }
    li{
      display: inline-block;
      width: 100%;
      &:hover{
        a{
          color: #000;
        }
      }
      &:last-child{
        a{
          border: none;
        }
      }
      a{
        display: inline-block;
        padding: 14px 0;
        color: grey;
        text-decoration: none;
        border-bottom: solid 1px #eaeaea;
        font-size: 14px;
        width: 100%;
        font-weight: bold;
        letter-spacing: 1px;
        &.active{
          color: #000;
        }
        &:hover{
          text-decoration: none;
        }
        &.active{
          color: #000;
        }
        &:before{
          font-family: "icons";
          padding: 0 10px 0 0;
          font-size: 20px;
          position: relative;
          top: 3px;
          font-weight: normal;
        }
        &.home{
          &:before{
            content: "\e625";
          }
        }
        &.work{
          &:before{
            content: "\e601";
          }
        }
        &.about{
          &:before{
            content: "\e604";
          }
        }
        &.processes{
          &:before{
            content: "\e614";
          }
        }
        &.news{
          &:before{
            content: "\e609";
          }
        }
        &.achievements{
          &:before{
            content: "\e60e";
          }
        }
        &.contacts{
          &:before{
            content: "\e613";
          }
        }
      }
    }

  }
  .menu-nav {
    cursor: pointer;
    text-align: right;
    position: absolute;
    right: -210px;
    top: 50px;
    z-index: 2;
    .nav-button {
      width: 20px;
      height: 13px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      top: 17px;
      left: -20px;
      div.hamburger {
        width: 20px;
        height: 13px;
        position: relative;
        margin-right: 19px;
        overflow: visible;
        line-height: 13px;
        font-size: 1px;
        float: left;
        cursor: pointer;
        .line {
          position: absolute;
          background-color: #252425;
          overflow: hidden;
          z-index: 1;
          width: 20px;
          height: 3px;
          left: 0px;
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 0.8s;
          -webkit-transition-delay: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 0.8s;
          -moz-transition-delay: 0.2s;
          -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -ms-transition-property: -ms-transform;
          -ms-transition-duration: 0.8s;
          -ms-transition-delay: 0.2s;
          -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -o-transition-property: -o-transform;
          -o-transition-duration: 0.8s;
          -o-transition-delay: 0.2s;
          -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-property: transform;
          transition-duration: 0.8s;
          transition-delay: 0.2s;
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
        }
        .line:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -o-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 100% 0%;
          -moz-transform-origin: 100% 0%;
          -ms-transform-origin: 100% 0%;
          -o-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
          height: 3px;
          background: #a4a4a4;
        }
        .line:nth-child(1) {
          -webkit-transform-origin: 0px 1.5px;
          -moz-transform-origin: 0px 1.5px;
          -ms-transform-origin: 0px 1.5px;
          -o-transform-origin: 0px 1.5px;
          transform-origin: 0px 1.5px;
          top: 0px;
          z-index: 2;
        }
        .line:nth-child(1):after {
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 0.4s;
          -webkit-transition-delay: 0;
          -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 0.4s;
          -moz-transition-delay: 0;
          -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -ms-transition-property: -ms-transform;
          -ms-transition-duration: 0.4s;
          -ms-transition-delay: 0;
          -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -o-transition-property: -o-transform;
          -o-transition-duration: 0.4s;
          -o-transition-delay: 0;
          -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-property: transform;
          transition-duration: 0.4s;
          transition-delay: 0;
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
        }
        .line:nth-child(2) {
          top: 5px;
          z-index: 1;
          -webkit-transition: opacity 0.4s linear 0.5s;
          -moz-transition: opacity 0.4s linear 0.5s;
          -o-transition: opacity 0.4s linear 0.5s;
          transition: opacity 0.4s linear 0.5s;
        }
        .line:nth-child(2):after {
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 0.4s;
          -webkit-transition-delay: 0.1s;
          -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 0.4s;
          -moz-transition-delay: 0.1s;
          -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -ms-transition-property: -ms-transform;
          -ms-transition-duration: 0.4s;
          -ms-transition-delay: 0.1s;
          -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -o-transition-property: -o-transform;
          -o-transition-duration: 0.4s;
          -o-transition-delay: 0.1s;
          -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-property: transform;
          transition-duration: 0.4s;
          transition-delay: 0.1s;
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
        }
        .line:nth-child(3) {
          -webkit-transform-origin: 0px 1.5px;
          -moz-transform-origin: 0px 1.5px;
          -ms-transform-origin: 0px 1.5px;
          -o-transform-origin: 0px 1.5px;
          transform-origin: 0px 1.5px;
          top: 10px;
          z-index: 3;
        }
        .line:nth-child(3):after {
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 0.4s;
          -webkit-transition-delay: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 0.4s;
          -moz-transition-delay: 0.2s;
          -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -ms-transition-property: -ms-transform;
          -ms-transition-duration: 0.4s;
          -ms-transition-delay: 0.2s;
          -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          -o-transition-property: -o-transform;
          -o-transition-duration: 0.4s;
          -o-transition-delay: 0.2s;
          -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-property: transform;
          transition-duration: 0.4s;
          transition-delay: 0.2s;
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
        }
      }
      div.hamburger:hover {
        .line:after {
          width: 100%;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -o-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }
    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    -o-transition: -o-transform .3s linear;
    transition: transform .3s linear;
    &.active{
      color: grey;
      -webkit-transform: matrix(1, 0, 0, 1, -60, 0);
      -moz-transform: matrix(1, 0, 0, 1, -60, 0);
      -ms-transform: matrix(1, 0, 0, 1, -60, 0);
      -o-transform: matrix(1, 0, 0, 1, -60, 0);
      transform: matrix(1, 0, 0, 1, -60, 0);

      -webkit-transition: -webkit-transform .3s linear;
      -moz-transition: -moz-transform .3s linear;
      -o-transition: -o-transform .3s linear;
      transition: transform .3s linear;
      .nav-button {
        div.hamburger {
          .line:nth-child(1) {
            -webkit-transform: translateY(-2px) rotate(45deg);
            -moz-transform: translateY(-2px) rotate(45deg);
            -o-transform: translateY(-2px) rotate(45deg);
            -ms-transform: translateY(-2px) rotate(45deg);
            transform: translateY(-2px) rotate(45deg);
          }
          .line:nth-child(2) {
            -webkit-transition: opacity 0.4s linear 0s;
            -moz-transition: opacity 0.4s linear 0s;
            -o-transition: opacity 0.4s linear 0s;
            transition: opacity 0.4s linear 0s;
            opacity: 0;
          }
          .line:nth-child(3) {
            -webkit-transform: translateY(2px) rotate(-45deg);
            -moz-transform: translateY(2px) rotate(-45deg);
            -o-transform: translateY(2px) rotate(-45deg);
            -ms-transform: translateY(2px) rotate(-45deg);
            transform: translateY(2px) rotate(-45deg);
          }
        }
      }
    }
    .menu-item{
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      width: 82px;
      letter-spacing: 1px;
      &:before{
        content: "|";
        margin: 0px 17px;
      }
    }
  }
}